.mainInfoContainer {
    margin-bottom: 6vh;
}
.mainInfoContainer h2 {
    margin-top: 6vh;
    margin-right: 30px;
    font-size: 2rem;
}
.mainInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    background: linear-gradient(rgba(0, 0, 0, 0.408), rgba(0, 0, 0, 0.408)), url('../../../pictures/salon-general.png');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.mainInfo p {
    color: white;
    font-size: 4rem;
}
.sectionContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 10vw 0 10vw
}
.sectionContainer p {
    font-size: 1.25rem;
    font-weight: 550;
    margin-right: 30px;
}
.sectionContainer iframe {
    border: 2px solid black;
    border-radius: 4px;
}